@font-face {
  font-family: 'Slackey';
  font-style: normal;
  font-weight: 400;
  src: local('Slackey Regular'), local('Slackey-Regular'), url(HZ1TT_QQBppL1ChT5XrhxwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
