@font-face {
  font-family: 'Amethysta';
  font-style: normal;
  font-weight: 400;
  src: local('Amethysta Regular'), local('Amethysta-Regular'), url(uuO0VFu8kdKx34ju6adj-LO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
